html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: Franklin Gothic Medium, Arial Narrow Bold, Arial, sans-serif;
  font-size: 18px;
  font-line-height: 36px;
  font-weight: bolder;
  color: #fff;
  height: 100%;
  background-color: #9b1010;
  background-image: url(/images/background.jpg);
  background-repeat: repeat-y;
  background-position: center top; }

a {
  color: #fff; }

p, ul {
  margin-left: 36px; }

li {
  margin-left: 0; }

li ul {
  margin-left: 18px; }

.indented {
  margin-left: 36px; }

#page {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -108px;
  width: 900px; }

#headerwrap,
#navwrap,
#footerwrap,
#contentwrap {
  margin: 0px auto;
  width: 800px; }

#header {
  height: 108px;
  text-align: right; }
  #header h1 {
    margin: 0;
    font-size: 54px; }
  #header h6 {
    margin: 0; }

#content {
  clear: both; }

#navbar {
  height: 36px;
  margin-bottom: 24px; }
  #navbar ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    #navbar ul li {
      float: left;
      margin-right: 20px; }

.push {
  height: 108px; }

#footer {
  border-top: 1px solid #9b1010; }

.rss-box-jobs ul, .rss-box-jobs li {
  margin-left: 18px;
  margin-bottom: 18px; }
