html, body, #page {height: 100%;}

body > #page {height: auto; min-height: 100%;}

#contentwrap {padding-bottom: 36px;}  /* must be same height as the footer */

#footerwrap {position: relative;
	margin-top: -36px; /* negative value of footer height */
	height: 36px;
	clear:both;} 
