- @title = "Chat"
.grid_12
  %h1= @title
  %p We wanted to make it as easy as possible for you to get realtime help with your Ruby questions. Enter a username and connect to our chatroom.
.grid_8.prefix_2.suffix_2
  
  %iframe{:src=>"http://webchat.freenode.net/?channels=ecruby", :width=>"647", :height=>"400"}
  %p