- @title = "Chippewa Valley Ruby Camp"

.grid_8
  %h1=@title
  %h2 Date: Feburary 13th, 2010
  %h3 Location: SitePro, 1825 N. Clairemont Avenue, Eau Claire, WI

  %p We love the Ruby programming language. In fact, we love it so much that we want to share it with you in a day-long Ruby Camp! In under a day, you'll participate in a hands-on workshop where you'll build and deploy a complete Ruby on Rails web application. We'll even help you get your machine ready before we start. All you have to do is bring a laptop.

  %p We're aiming this at developers who have even basic knowledge of Java, .Net, PHP, and ColdFusion, and we'll be ready to answer your questions about Ruby

  %p Here's a quick glimpse of what we're planning.


  %h3 8:30-9:00 Check-in.
  %p You'll get signed in and get comfortable, and meet your fellow campers.
  
  %h3 9:00- 10:00 - Setup
  %p Users will work with our troubelshooters to get their machines set up with the tools they need to follow along with the workshops. Linux, Windows, and Mac users will get set up with
  %ul
    %li Ruby
    %li Rails
    %li Sinatra
    %li ImageMagick
    %li Heroku gems
    %li Git and Github
    %li An IDE (if desired)

  %h3 10:00 - 12:00 Cookbook Part One

  %p Get acquainted with Ruby web application development using the Ruby on Rails framework to build an online cookbook. In this iteration, you'll learn how to use the Rails framework to receive requests and display web pages. We'll follow that up with discussion  of the Model View Controller pattern and use ActiveRecord to build an interface where users can create, update, retrieve, and delete recipes in the database through a web interface without writing a single line of SQL or program logic.
  %p We'll then explore the Rails templating mechanism and you'll learn how easy it is to make changes to the lookand feel of the application.

  %h3 12:00-1:00 - Lunch - TBD

  %h3 1:00 to 2:40: Cookbook Part Two

  %p We'll pick up where we left off by getting into some more detailed Ruby coding. We'll add a second table to the Cookbook application so that recipes can be placed into categories. You'll learn how Rails  uses ActiveRecord to create associations between database tables, and you'll see how to do advanced querying. Finally, you'll get a chance  to push your application to the cloud so that anyone in the world can play with your new cookbook.
  
  %h3 2:40 to 3:00: Break / Q and A
  
  %h3 3:00 - 5:00 - Imagetweak - A Sinatra Application

  %p While Rails is a fantastic tool for creating web applications, sometimes we like to just hack around with stuff. Sinatra is a fantastic way to get to know the Ruby behind the Rails.
  %p This presentation will help walk you through creating a simple Sinatra application to modify images. We’ll use tools like Haml and Sass, and the ImageMagick library, and even look at how to deploy the application out to the Heroku hosting service.

  %h3 5:00 to 5:30 Closing announcement and Prize Drawing
  %p We'll have lots of great prizes to give away to lucky winners.
  
  
  
.grid_4
  .box
    %h3 Registration
    %p Registration for this event is closed.
  
  .box
    %h3 Sponsors
    %p Want to sponsor this event? Contact brian@ecruby.org
    %ul
      %li=link_to "SitePro", "http://www.sitepro.com/"
      %li=link_to "New Auburn Personal Computer Services LLC", "http://www.napcs.com/"
      %li=link_to "Chippewa Valley .Net Users Group", "http://cvnug.wi-ineta.org/" 
      %li=link_to "Jetpack LLC", "http://jetpackweb.com/"
      %li=link_to "Jetbrains", "http://www.jetbrains.com/ruby/index.html"
      %li=link_to "Obtiva", "http://www.obtiva.com"
      
  .box
    %h3 Your Instructors and Helpers
    %h5 Brian Hogan
    %p
      Brian is a web developer specializing in Ruby on Rails development and deployment. He's been building web sites since 1995 and has worked in PHP and ASP. He is the author of 
      =link_to "Web Design For Developers", "http://www.webdesignfordevelopers.com"
      and contributing author of 
      =link_to "Deploying Rails Applications", "http://www.pragprog.com/titles/fr_deploy/"
  
    %h5 Kevin Gisi
    %p Kevin W. Gisi is a student at the University of Wisconsin – Eau Claire, studying computer science and music. He also works as a student web and application developer for the Learning and Technology Services department on campus—primarily as a Ruby on Rails developer.
  
    %h5 Gary Crabtree  
    %p Gary is a 22 year old student at UWEC who will be graduating this coming May. He has been working with Ruby on Rails for a few years in a semi-professional work setting, and hopes to start a career that allows him to progress further with it
  
    %h5 Brian Racer
    %p Brian Racer is co-founder of Jetpack LLC, a web development company in Eau Claire, WI. 
    
    %h5 Tony Eichelberger
    %p Tony Eichelberger is a software developer in Eau Claire currently working at IDEXX Laboratories.  He has been dabbling with ruby on rails for about 4 years.
    
  