- @title = "Chippewa Valley Ruby Camp"

.grid_8
  %h1=@title
  %h2 Feburary 13th, 2010 - Location TBD
  %h3 Learn Ruby for FREE!!!

  %p We love the Ruby programming language. In fact, we love it so much that we want to share it with you in a day-long Ruby Camp! In under a day, you'll participate in a hands-on workshop where you'll build and deploy a complete Ruby on Rails web application. We'll even help you get your machine ready before we start. All you have to do is bring a laptop.

  %p We're aiming this at developers who have even basic knowledge of Java, .Net, PHP, and ColdFusion, and we'll be ready to answer your questions about Ruby

  %p Here's a quick glimpse of what we're planning.


  %h3 8:30-9:00 Check-in.


  %h3 9:00- 10:00 - Setup
  %p Users wil work with our troubelshooters to get their machines set up with the tools they need to follow along with the workshops Linux, Windows, and Mac users will get set up with
  %ul
    %li Ruby
    %li Rails
    %li Capistrano
    %li Git
    %li 
      RubyMine
      %br
      (We will be using this for teaching as it has a trial version and it's an IDE which is friendlier to non-Ruby people.)

  %h3 10:00 - 11:50 Cookbook Part One

  %p Get acquainted with Ruby web application development using the Ruby on Rails framework to build an online cookbook. In this iteration, you'll learn how to use the Rails framework to receive requests and display web pages. We'll follow that up with discussion  of the Model View Controller pattern and use ActiveRecord to build an interface where users can create, update, retrieve, and delete recipes in the database through a web interface without writing a single line of SQL or program logic.
  %p We'll then explore the Rails templating mechanism and you'll learn how easy it is to make changes to the lookand feel of the application.

  %h3 12:00-1:00 - Lunch - TBD

  %h3 1:00-1:30 - Q and A

  %h3 :30 to 3:00: Cookbook Part Two

  %p We'll pick up where we left off by getting into some more detailed Ruby coding. We'll add a second table to the Cookbook application so that recipes can be placed into categories. You'll learn how Rails  uses ActiveRecord to create associations between database tables, and you'll see how to do advanced querying. Finally, you'll get a chance  to push your application to the cloud so that anyone in the world can play with your new cookbook.

  %h3 3:00-3:30 Q and A / break

  %h3 3:30 - 5:00 - Everyday Ruby use

  %p See how to use Ruby on your own projects. You'll see examples of how to use Ruby to generate simple web services, how to make CSS more useful, how to write cross-platform utility scripts, and more.
  
.grid_4
  .box
    %h3 Registration
    %p We're still planning registrations and a venue, so keep watching this page for more information.
  
  .box
    %h3 Sponsors
    %p Want to sponsor this event? Contact brian@ecruby.org
  .box
    %h3 Your Instructors
    %h5 Brian Hogan
    %p
      Brian is a web developer specializing in Ruby on Rails development and deployment. He's been building web sites since 1995 and has worked in PHP and ASP. He is the author of 
      =link_to "Web Design For Developers", "http://www.webdesignfordevelopers.com"
      and contributing author of 
      =link_to "Deploying Rails Applications", "http://www.pragprog.com/titles/fr_deploy/"
  
    %h5 Kevin Gisi
    %p Kevin W. Gisi is a student at the University of Wisconsin – Eau Claire, studying computer science and music. He also works as a student web and application developer for the Learning and Technology Services department on campus—primarily as a Ruby on Rails developer.
  
    %h5 Gary Crabtree  
    %p Gary is a 22 year old student at UWEC who will be graduating this coming May. He has been working with Ruby on Rails for a few years now in a semi-professional work setting, and hopes to start a career that allows him to progress further with it
  
  