.grid_12
  %h2 Bringing Ruby to Everyone

.grid_8

  %p Join us on the first Thursday of every month for food, company, and conversation about the  latest topics in the Ruby world.
  %p Whether you're experienced, just starting out, or have never even seen Ruby, we welcome you to our group, to learn and share with others the amazing things that Ruby can do.
  %p Our goal is to promote open-source development and education by using one of the most powerful dynamic languages available.
 
  %h3 What is Ruby?

  %p Ruby is A dynamic, open source programming language with a focus on simplicity and productivity. It has an elegant syntax that is natural to read and easy to write.
  %p 
    = link_to "Learn more", "http://www.ruby-lang.org/en/about/"
    at the official Ruby Language website.


.grid_4.omega
  %img{:src => "/images/ruby.png", :alt=>"Ruby"}





.grid_11
  #twitter_div
    %h2.sidebar-title
      Twitter Updates
    %ul#twitter_update_list
    %a#twitter-link{ :href => "http://twitter.com/ecruby", :style => "display:block;text-align:right;" }
      follow @ecruby on Twitter

