- @title = "Meetings"
.grid_6
  %h1 Meetings
  %p We meet the first Thursday of every month. Our meetings are extremely informal and offer you a chance to meet other developers who are passionate about building awesome things with beautiful code.
  %p If you want to learn Ruby, be sure to bring your laptop to the meeting. Stuck on a problem? Want to show off something cool you've done? Need contributers to your open-source project? Let us know!
.grid_6
  %h2 Next meeting
  %img{'src' => "/images/microformat_hcalendar.png"}
  .vevent
    %h3{'class' => "summary"}
      %a{'class' =>"url", 'href'=>"http://www.ecruby.org/"}September ECRuby Meeting
    .description 
      %p
        See
        %a{:href => "http://events.ecruby.org/events/13"} the event page
        for more information.
    %p
      %span{'class' => "dtstart", 'title'=> "2010-09-09T17:30:00-05:30"} September 9th, 2010 from 5:30 PM
      %span{'class' => "dtend", 'title'=> "2010-09-09T19:00:00-07:00"} to 7:00 PM
      %br
      %span{'class' => "location hcard"}
        %span{'class' => 'fn org'} at Dooley's Pub,
        %span{'class' => "street-address"} 442 Water St
        %span{'class' => "locality"}Eau Claire,
        %span{'class' => "region"} WI


.grid_12


  %h2 Previous meetings
  
  %img{'src' => "/images/microformat_hcalendar.png"}
  .vevent
    %h3{'class' => "summary"}
      %a{'class' =>"url", 'href'=>"http://www.ecruby.org/"}August ECRuby Meeting
    .description 
      %p
        See
        %a{:href => "http://events.ecruby.org/events/12"} the event page
        for more information.
    %p
      %span{'class' => "dtstart", 'title'=> "2010-07-01T17:30:00-05:30"} July 1st, 2010 from 5:30 PM
      %span{'class' => "dtend", 'title'=> "2010-07-01T19:00:00-07:00"} to 7:00 PM
      %br
      %span{'class' => "location hcard"}
        %span{'class' => 'fn org'} at Dooley's Pub,
        %span{'class' => "street-address"} 442 Water St
        %span{'class' => "locality"}Eau Claire,
        %span{'class' => "region"} WI
  
  
  %img{'src' => "/images/microformat_hcalendar.png"}
  .vevent
    %h3{'class' => "summary"}
      %a{'class' =>"url", 'href'=>"http://www.ecruby.org/"}June ECRuby Meeting
    .description 
      %p
        See
        %a{:href => "http://events.ecruby.org/events/7"} the event page
        for more information.
    %p
      %span{'class' => "dtstart", 'title'=> "2010-06-03T17:30:00-05:30"} June 3rd, 2010 from 5:30 PM
      %span{'class' => "dtend", 'title'=> "2010-06-03T19:00:00-07:00"} to 7:00 PM
      %br
      %span{'class' => "location hcard"}
        %span{'class' => 'fn org'} at Dooley's Pub,
        %span{'class' => "street-address"} 442 Water St
        %span{'class' => "locality"}Eau Claire,
        %span{'class' => "region"} WI
  
  %img{'src' => "/images/microformat_hcalendar.png"}
  .vevent
    %h3{'class' => "summary"}
      %a{'class' =>"url", 'href'=>"http://www.ecruby.org/"}May ECRuby Meeting
    .description 
      %p
        See
        %a{:href => "http://events.ecruby.org/events/6"} the event page
        for more information.
    %p
      %span{'class' => "dtstart", 'title'=> "2010-05-06T17:30:00-05:30"} May 6th, 2010 from 5:30 PM
      %span{'class' => "dtend", 'title'=> "2010-05-06T19:00:00-07:00"} to 7:00 PM
      %br
      %span{'class' => "location hcard"}
        %span{'class' => 'fn org'} at Dooley's Pub,
        %span{'class' => "street-address"} 442 Water St
        %span{'class' => "locality"}Eau Claire,
        %span{'class' => "region"} WI

  
  
  %img{'src' => "/images/microformat_hcalendar.png"}
  .vevent
    %h3{'class' => "summary"}
      %a{'class' =>"url", 'href'=>"http://www.ecruby.org/"}April ECRuby Meeting
    .description 
      %p
        See
        %a{:href => "http://events.ecruby.org/events/5"} the event page
        for more information.
    %p
      %span{'class' => "dtstart", 'title'=> "2010-02-04T17:00:00-05:30"} April 8th, 2010 from 5:30 PM
      %span{'class' => "dtend", 'title'=> "2010-02-04T18:30:00-07:00"} to 7:00 PM
      %br
      %span{'class' => "location hcard"}
        %span{'class' => 'fn org'} at Dooley's Pub,
        %span{'class' => "street-address"} 442 Water St
        %span{'class' => "locality"}Eau Claire,
        %span{'class' => "region"} WI
  
  
  
  %img{'src' => "/images/microformat_hcalendar.png"}
  .vevent
    %h3{'class' => "summary"}
      %a{'class' =>"url", 'href'=>"http://www.ecruby.org/"}March ECRuby Meeting
    .description 
      %p Discussed code camp survey results
      %p Ideas for future events
      %ul
        %li hackfests
        %li volunteer / community service projects
      %p Decided on a Git presentation for April meeting
      
    %p
      %span{'class' => "dtstart", 'title'=> "2010-03-04T17:00:00-05:30"} March 4th, 2010 from 5:30 PM
      %span{'class' => "dtend", 'title'=> "2010-03-04T18:30:00-07:00"} to 7:00 PM
      %br
      %span{'class' => "location hcard"}
        %span{'class' => 'fn org'} at Mogie's Pub,
        %span{'class' => "street-address"} 436 Water St
        %span{'class' => "locality"}Eau Claire,
        %span{'class' => "region"} WI

  %img{'src' => "/images/microformat_hcalendar.png"}
  .vevent
    %h3{'class' => "summary"}
      %a{'class' =>"url", 'href'=>"http://www.ecruby.org/"}February ECRuby Meeting
    .description 
      %p Planning for the Chippewa Valley Ruby Camp part 3
      %ul
        %li Discussion of flow of events for the day
        %li Sponsors for prizes
      %p Ideas for future events
      %ul
        %li hackfests
        %li volunteer / community service projects
    %p
      %span{'class' => "dtstart", 'title'=> "2010-02-04T17:00:00-05:30"} February 4th, 2010 from 5:30 PM
      %span{'class' => "dtend", 'title'=> "2010-02-04T18:30:00-07:00"} to 7:00 PM
      %br
      %span{'class' => "location hcard"}
        %span{'class' => 'fn org'} at Mogie's Pub,
        %span{'class' => "street-address"} 436 Water St
        %span{'class' => "locality"}Eau Claire,
        %span{'class' => "region"} WI

  %img{'src' => "/images/microformat_hcalendar.png"}
  .vevent
    %h3{'class' => "summary"}
      %a{'class' =>"url", 'href'=>"http://www.ecruby.org/"}January ECRuby Meeting
    .description 
      %p Planning for the Chippewa Valley Ruby Camp part 2
      %ul
        %li We need a venue
        %li We need to get people to come
        %li We need volunteers to do installs
    %p
      %span{'class' => "dtstart", 'title'=> "2010-01-07T17:00:00-05:00"} January 7th, 2010 from 5:00 PM
      %span{'class' => "dtend", 'title'=> "2010-01-07T18:30:00-06:30"} to 6:30 PM
      %br
      %span{'class' => "location hcard"}
        %span{'class' => 'fn org'} at Mogie's Pub,
        %span{'class' => "street-address"} 436 Water St
        %span{'class' => "locality"}Eau Claire,
        %span{'class' => "region"} WI

  %img{'src' => "/images/microformat_hcalendar.png"}
  .vevent
    %h3{'class' => "summary"}
      %a{'class' =>"url", 'href'=>"http://www.ecruby.org/"}December ECRuby Meeting
    .description 
      %p Planning for the Chippewa Valley Ruby Camp
    %p
      %span{'class' => "dtstart", 'title'=> "2009-12-03T17:00:00-05:00"} December 3rd, 2009 from 5:00 PM
      %span{'class' => "dtend", 'title'=> "2009-12-03T18:30:00-06:30"} to 6:30 PM
      %br
      %span{'class' => "location hcard"}
        %span{'class' => 'fn org'} at Mogie's Pub,
        %span{'class' => "street-address"} 436 Water St
        %span{'class' => "locality"}Eau Claire,
        %span{'class' => "region"} WI
        
  %img{'src' => "/images/microformat_hcalendar.png"}
  .vevent
    %h3{'class' => "summary"}
      %a{'class' =>"url", 'href'=>"http://www.ecruby.org/"}November ECRuby Meeting
    .description 
      %p Informal meeting. We'll help people get started with a Ruby environment. We'll also help answer questions on getting started with a Rails project.
      %p Bring your laptop and get hands-on. There are some open-source projects you might be able to hack on if you're interested.
    %p
      %span{'class' => "dtstart", 'title'=> "2009-11-05T17:00:00-05:00"} November 5th, 2009 from 5:00 PM
      %span{'class' => "dtend", 'title'=> "2009-11-05T18:30:00-06:30"} to 6:30 PM
      %br
      %span{'class' => "location hcard"}
        %span{'class' => 'fn org'} at Mogie's Pub,
        %span{'class' => "street-address"} 436 Water St
        %span{'class' => "locality"}Eau Claire,
        %span{'class' => "region"} WI
  
  %img{'src' => "/images/microformat_hcalendar.png"}
  .vevent
    %h3{'class' => "summary"}
      %a{'class' =>"url", 'href'=>"http://www.ecruby.org/"}October ECRuby Meeting
    .description 
      %p Open House! Come learn about Ruby from several presenters who use it every day. We'll have a prize drawing
      %ul
        %li "Building simple GUI applications with Shoes" - Brian Hogan
        %li "Addicted to Open Source - Ruby: The Gateway Drug" - Kevin Gisi
        %li Additional talks
    %p
      %span{'class' => "dtstart", 'title'=> "2009-10-01T17:00:00-05:00"} October 1st, 2009 from 5:00 PM
      %span{'class' => "dtend", 'title'=> "2009-10-01T18:30:00-06:30"} to 6:30 PM
      %br
      %span{'class' => "location hcard"}
        %span{'class' => 'fn org'} at Dooley's Pub,
        %span{'class' => "street-address"} 442 Water St
        %span{'class' => "locality"}Eau Claire,
        %span{'class' => "region"} WI
  
  %img{'src' => "/images/microformat_hcalendar.png"}
  .vevent
    %h3{'class' => "summary"}
      %a{'class' =>"url", 'href'=>"http://www.ecruby.org/"}September ECRuby Meeting
    .description 
      %p Monthly meeting to gather people interested in development with the Ruby programming language.
      %ul
        %li WindyCityRails carpooling?
        %li Recruitment of members
        %li Hackfest / Mentoring day?
    %p
      %span{'class' => "dtstart", 'title'=> "2009-09-03T17:00:00-05:00"} September 3rd, 2009 from 5:00 PM
      %span{'class' => "dtend", 'title'=> "2009-09-03T18:30:00-05:00"} to 6:30 PM
      %br
      %span{'class' => "location hcard"}
        %span{'class' => 'fn org'} at Mogie's Pub,
        %span{'class' => "street-address"} 436 Water St
        %span{'class' => "locality"}Eau Claire,
        %span{'class' => "region"} WI

  %img{'src' => "/images/microformat_hcalendar.png"}
  .vevent
    %h3{'class' => "summary"}
      %a{'class' =>"url", 'href'=>"http://www.ecruby.org/"}August ECRuby Meeting
    .description 
      %p Monthly meeting to gather people interested in development with the Ruby programming language.
      %ul
        %li WindyCityRails carpooling?
        %li RailsRumble projects
        %li Other projects
    %p
      %span{'class' => "dtstart", 'title'=> "2009-08-06T17:00:00-05:00"} August 6th, 2009 from 5:00 PM
      %span{'class' => "dtend", 'title'=> "2009-08-06T18:30:00-05:00"} to 6:30 PM
      %br
      %span{'class' => "location hcard"}
        %span{'class' => 'fn org'} at Mogie's Pub,
        %span{'class' => "street-address"} 436 Water St
        %span{'class' => "locality"}Eau Claire,
        %span{'class' => "region"} WI




  %img{'src' => "/images/microformat_hcalendar.png"}
  .vevent
    %h3{'class' => "summary"}
      %a{'class' =>"url", 'href'=>"http://www.ecruby.org/"}July ECRuby Meeting
    .description 
      %p Monthly meeting to gather people interested in development with the Ruby programming language.
      %ul
        %li 
          RailsBridge progress
          %ul
            %li RailsMentors launch
            %li Non-profit projects
        %li Recruitment of new members
        %li Other projects
    %p
      %span{'class' => "dtstart", 'title'=> "2009-07-02T17:00:00-05:00"} July 2nd, 2009 from 5:00 PM
      %span{'class' => "dtend", 'title'=> "2009-07-02T18:30:00-05:00"} to 6:30 PM
      %br
      %span{'class' => "location hcard"}
        %span{'class' => 'fn org'} at Dooley's Pub,
        %span{'class' => "street-address"} 442 Water St (5th and Water Streets)
        %span{'class' => "locality"}Eau Claire,
        %span{'class' => "region"} WI




  %img{'src' => "/images/microformat_hcalendar.png"}
  .vevent
    %h3{'class' => "summary"}
      %a{'class' =>"url", 'href'=>"http://www.ecruby.org/"}June ECRuby Meeting
    .description 
      %p Monthly meeting to gather people interested in development with the Ruby programming language.
      %ul
        %li 
          RailsBridge
          %ul
            %li Mentoring
            %li Non-profit projects
            %li Code review for college students
        %li Lightning talks
        %li Rails Rumble
    %p
      %span{'class' => "dtstart", 'title'=> "2009-06-04T17:00:00-05:00"} June 4th, 2009 from 5:00 PM
      %span{'class' => "dtend", 'title'=> "2009-06-04T18:30:00-05:00"} to 6:30 PM
      %br
      %span{'class' => "location hcard"}
        %span{'class' => 'fn org'} at Dooley's Pub,
        %span{'class' => "street-address"} 442 Water St (5th and Water Streets)
        %span{'class' => "locality"}Eau Claire,
        %span{'class' => "region"} WI

  %img{'src' => "/images/microformat_hcalendar.png"}
  .vevent
    %h3{'class' => "summary"}
      %a{'class' =>"url", 'href'=>"http://www.ecruby.org/"}May ECRuby Meeting
    .description 
      %p Monthly meeting to gather people interested in development with the Ruby programming language.
      %ul
        %li 
          RailsConf 2009 Recap
          %ul
            %li Rack
            %li Sinatra
            %li RailsBridge
            %li Rubystein
        %li Lightning talks
        %li Rails Rumble
    %p
      %span{'class' => "dtstart", 'title'=> "2009-05-14T17:00:00-05:00"} May 14, 2009 from 5:00 PM
      %span{'class' => "dtend", 'title'=> "2009-05-14T18:30:00-05:00"} to 6:30 PM
      %br
      %span{'class' => "location hcard"}
        %span{'class' => 'fn org'} at Dooley's Pub,
        %span{'class' => "street-address"} 442 Water St (5th and Water Streets)
        %span{'class' => "locality"}Eau Claire,
        %span{'class' => "region"} WI





  %img{'src' => "/images/microformat_hcalendar.png"}
  .vevent
    %h3{'class' => "summary"}
      %a{'class' =>"url", 'href'=>"http://www.ecruby.org/"}April ECRuby Meeting
    .description 
      %p Monthly meeting to gather people interested in development with the Ruby programming language.
      %ul
        %li Discuss Twin Cities Code Camp participation
        %li 
          Discuss web site
          %ul
            %li members directory
            %li additional resources
        %li Discuss Rails 2.3 issues
        %li Lightning talks
    %p
      %span{'class' => "dtstart", 'title'=> "2009-04-02T17:00:00-05:00"} April 2, 2009 from 5:00 PM
      %span{'class' => "dtend", 'title'=> "2009-04-02T18:30:00-05:00"} to 6:30 PM
      %br
      %span{'class' => "location hcard"}
        %span{'class' => 'fn org'} at Dooley's Pub,
        %span{'class' => "street-address"} 442 Water St (5th and Water Streets)
        %span{'class' => "locality"}Eau Claire,
        %span{'class' => "region"} WI