.grid_6
  %h1 Meetings
  %p We meet the first Thursday of every month. Our meetings are extremely informal and offer you a chance to meet other developers who are passionate about building awesome things with beautiful code.
  %p If you want to learn Ruby, be sure to bring your laptop to the meeting. Stuck on a problem? Want to show off something cool you've done? Need contributers to your open-source project? Let us know!
.grid_6
  %h2 Next meeting
  %img{'src' => "/images/microformat_hcalendar.png"}
  .vevent
    %h3{'class' => "summary"}
      %a{'class' =>"url", 'href'=>"http://www.ecruby.org/"}September ECRuby Meeting
    .description 
      %p Monthly meeting to gather people interested in development with the Ruby programming language.
      %ul
        %li WindyCityRails carpooling?
        %li Recruitment of members
        %li Hackfest / Mentoring day?
    %p
      %span{'class' => "dtstart", 'title'=> "2009-09-03T17:00:00-05:00"} September 3rd, 2009 from 5:00 PM
      %span{'class' => "dtend", 'title'=> "2009-09-03T18:30:00-05:00"} to 6:30 PM
      %br
      %span{'class' => "location hcard"}
        %span{'class' => 'fn org'} at Mogie's Pub,
        %span{'class' => "street-address"} 436 Water St
        %span{'class' => "locality"}Eau Claire,
        %span{'class' => "region"} WI


.grid_12
  %h2 Previous meetings

  %img{'src' => "/images/microformat_hcalendar.png"}
  .vevent
    %h3{'class' => "summary"}
      %a{'class' =>"url", 'href'=>"http://www.ecruby.org/"}August ECRuby Meeting
    .description 
      %p Monthly meeting to gather people interested in development with the Ruby programming language.
      %ul
        %li WindyCityRails carpooling?
        %li RailsRumble projects
        %li Other projects
    %p
      %span{'class' => "dtstart", 'title'=> "2009-08-06T17:00:00-05:00"} August 6th, 2009 from 5:00 PM
      %span{'class' => "dtend", 'title'=> "2009-08-06T18:30:00-05:00"} to 6:30 PM
      %br
      %span{'class' => "location hcard"}
        %span{'class' => 'fn org'} at Mogie's Pub,
        %span{'class' => "street-address"} 436 Water St
        %span{'class' => "locality"}Eau Claire,
        %span{'class' => "region"} WI




  %img{'src' => "/images/microformat_hcalendar.png"}
  .vevent
    %h3{'class' => "summary"}
      %a{'class' =>"url", 'href'=>"http://www.ecruby.org/"}July ECRuby Meeting
    .description 
      %p Monthly meeting to gather people interested in development with the Ruby programming language.
      %ul
        %li 
          RailsBridge progress
          %ul
            %li RailsMentors launch
            %li Non-profit projects
        %li Recruitment of new members
        %li Other projects
    %p
      %span{'class' => "dtstart", 'title'=> "2009-07-02T17:00:00-05:00"} July 2nd, 2009 from 5:00 PM
      %span{'class' => "dtend", 'title'=> "2009-07-02T18:30:00-05:00"} to 6:30 PM
      %br
      %span{'class' => "location hcard"}
        %span{'class' => 'fn org'} at Dooley's Pub,
        %span{'class' => "street-address"} 442 Water St (5th and Water Streets)
        %span{'class' => "locality"}Eau Claire,
        %span{'class' => "region"} WI




  %img{'src' => "/images/microformat_hcalendar.png"}
  .vevent
    %h3{'class' => "summary"}
      %a{'class' =>"url", 'href'=>"http://www.ecruby.org/"}June ECRuby Meeting
    .description 
      %p Monthly meeting to gather people interested in development with the Ruby programming language.
      %ul
        %li 
          RailsBridge
          %ul
            %li Mentoring
            %li Non-profit projects
            %li Code review for college students
        %li Lightning talks
        %li Rails Rumble
    %p
      %span{'class' => "dtstart", 'title'=> "2009-06-04T17:00:00-05:00"} June 4th, 2009 from 5:00 PM
      %span{'class' => "dtend", 'title'=> "2009-06-04T18:30:00-05:00"} to 6:30 PM
      %br
      %span{'class' => "location hcard"}
        %span{'class' => 'fn org'} at Dooley's Pub,
        %span{'class' => "street-address"} 442 Water St (5th and Water Streets)
        %span{'class' => "locality"}Eau Claire,
        %span{'class' => "region"} WI

  %img{'src' => "/images/microformat_hcalendar.png"}
  .vevent
    %h3{'class' => "summary"}
      %a{'class' =>"url", 'href'=>"http://www.ecruby.org/"}May ECRuby Meeting
    .description 
      %p Monthly meeting to gather people interested in development with the Ruby programming language.
      %ul
        %li 
          RailsConf 2009 Recap
          %ul
            %li Rack
            %li Sinatra
            %li RailsBridge
            %li Rubystein
        %li Lightning talks
        %li Rails Rumble
    %p
      %span{'class' => "dtstart", 'title'=> "2009-05-14T17:00:00-05:00"} May 14, 2009 from 5:00 PM
      %span{'class' => "dtend", 'title'=> "2009-05-14T18:30:00-05:00"} to 6:30 PM
      %br
      %span{'class' => "location hcard"}
        %span{'class' => 'fn org'} at Dooley's Pub,
        %span{'class' => "street-address"} 442 Water St (5th and Water Streets)
        %span{'class' => "locality"}Eau Claire,
        %span{'class' => "region"} WI





  %img{'src' => "/images/microformat_hcalendar.png"}
  .vevent
    %h3{'class' => "summary"}
      %a{'class' =>"url", 'href'=>"http://www.ecruby.org/"}April ECRuby Meeting
    .description 
      %p Monthly meeting to gather people interested in development with the Ruby programming language.
      %ul
        %li Discuss Twin Cities Code Camp participation
        %li 
          Discuss web site
          %ul
            %li members directory
            %li additional resources
        %li Discuss Rails 2.3 issues
        %li Lightning talks
    %p
      %span{'class' => "dtstart", 'title'=> "2009-04-02T17:00:00-05:00"} April 2, 2009 from 5:00 PM
      %span{'class' => "dtend", 'title'=> "2009-04-02T18:30:00-05:00"} to 6:30 PM
      %br
      %span{'class' => "location hcard"}
        %span{'class' => 'fn org'} at Dooley's Pub,
        %span{'class' => "street-address"} 442 Water St (5th and Water Streets)
        %span{'class' => "locality"}Eau Claire,
        %span{'class' => "region"} WI