- @title = "Meetings and Events"
.eight.columns
  %h2 Meetings
  %p We meet the first Thursday of every month. Our meetings are extremely informal and offer you a chance to meet other developers who are passionate about building awesome things with beautiful code.
  %p We try to have one or two focused presentations or topics at each meeting.
  %p 
    Find out more about our meetings at 
    %a{:href => "http://events.ecruby.org/"} http://events.ecruby.org

  %h2 Hack Nights
  %p We meet the third Wednesday of each month at Mogie's Pub at 5:00 PM for hack nights, which is a chance for us to get together and collaborate on projects, help eachother out, learn new techniques, or just socialize.


.eight.columns
  %h2 Code Camps
  %p We hold camps a few times a year, which are day-long free workshops that let people get hands-on exposure to Ruby and related technologies. 
