- @title = "ECRuby Open House"
.grid_12
  %h2 ECRuby Open House

.grid_8
.promobox
  %h3 Open House was a success!!!
  %p On October 1, about 22 people came to learn about Ruby, the programming language that makes programming truly enjoyable. We hosted an Open House at Dooley's Pub on October 1st, 2009. 
  %p 
    If you couldn't make it, don't worry! Just attend the next
    %a{:href => "meetings.html"}
      meeting.
  %p="Grab the slides from the presentations on the #{link_to "Presentations"} page."


  %p So you've heard of Ruby and you want to know what it's all about? Wonder no more! Join us for an evening of fun and learning as we introduce you to the Ruby language and show you why we're so enthusiastic about working with it. 
  
  %h3 Social
  %p From 5:00 to 5:15, we'll have appetizers, beverages, and give you the chance to engage in casual conversation with group members and presenters.
  %h3 Presentations
  %p From 5:15 to 6:15, we'll have several short presentations that will introduce you to various Ruby projects.
  
  %h3 Prizes
  %p After the presentations, we'll do a drawing for some books and other prizes, and you'll have another chance to talk to presenters, ask questions, and socialize with others.
  %hr
  
  %h3 Short Presentations
  %h4 "Make GUI Apps with Shoes" - Brian Hogan
  %p This short presentation will show you how to use Ruby and the simple Shoes framework to make cross-platform GUI applications. Shoes is easy and fun for all ages, even kids!
  %h4 "Addicted to Open Source - Ruby: The Gateway Drug" - Kevin Gisi
  %p Internships and education look great on a resume - but you can improve your resume and build your skillset on your own time too. We'll look at how to get started with open-source, along with some of the groups and events ready to welcome you into the community.
  %h4 Additional 5 minute &quot;Lightning&quot; Talks
  %p Group members will spend a few minutes talking about what they're doing with Ruby. 
  
  
.grid_4
  %p
    %b When:
    October 1st, 2009
  %p
    %b Where:
    Dooley's Pub, 442 Water Street, Eau Claire, WI
  %p
    %b Time:
    5:00 PM to 6:30 PM
  
  %p More info
  %ul
    %li brian (at) ecruby.org
    %li kevin (at) ecruby.org
    %li= link_to "@ecruby on Twitter", "http://www.twitter.com/ecruby"