- @title = "Presentations"
.grid_12
  %h1=@title
  %p Here are the slides for the presentations given at our events.

.grid_12
  %h2 ECRuby Open House - October 1, 2009
.grid_6
  %h3
    %a{ :href => "http://www.slideshare.net/napcs/make-gui-apps-with-shoes", :title => "Make GUI Apps with Shoes" }
      Make GUI Apps with Shoes
  %h4 Presented by Brian Hogan
  
  #__ss_2106604{ :style => "width:425px;text-align:left" }
    %object{ :height => "355", :style => "margin:0px", :width => "425" }
      %param{ :name => "movie", :value => "http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=ecrubyshoes-091001153720-phpapp02&stripped_title=make-gui-apps-with-shoes" }
      %param{ :name => "allowFullScreen", :value => "true" }
      %param{ :name => "allowScriptAccess", :value => "always" }
      %embed{ :src => "http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=ecrubyshoes-091001153720-phpapp02&stripped_title=make-gui-apps-with-shoes", :type => "application/x-shockwave-flash", :allowfullscreen => "true", :allowscriptaccess => "always", :height => "355", :width => "425" }
    %div{ :style => "font-size:11px;font-family:tahoma,arial;height:26px;padding-top:2px;" }
      View more
      %a{ :href => "http://www.slideshare.net/", :style => "text-decoration:underline;" }
        presentations
      from
      %a{ :href => "http://www.slideshare.net/napcs", :style => "text-decoration:underline;" }
        Brian Hogan
      \.

.grid_6
  %h3 
    %a{:href => "http://slides.kevingisi.com/AddictedToOpenSource/"}
      Addicted to Open Source. Ruby: The Gateway Drug
  %h4 Presented by Kevin Gisi
  %p
    %a{:href => "http://slides.kevingisi.com/AddictedToOpenSource/"}
      %img{:src => "http://images.kevingisi.com/addictedtoopensource.png", :alt => "Addicted To Open Source"}
      