- @title = "RubyCamp"
.sixteen.columns
  %h1= @title
  %ul
    %li= link_to "Installation Instructions", "camp/install.html"
    %li= link_to "Sinatra", "camp/sinatra.html"
    %li= link_to "Mobile Apps with Rails", "camp/rails.html"