!!!
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
  
%head
  %title= "#{@title} | ECRuby - The Chippewa Valley Ruby Users Group (ECRuby)"
  =stylesheets "style"
  <!--[if lt IE 9]>
  %script{:src =>"http://html5shim.googlecode.com/svn/trunk/html5.js" }
  <![endif]-->
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1,maximm-scale=1" }
%body
  .container
    %header.sixteen.columns
      =img "ecrubylogo.png"

    %navbar.sixteen.columns
      = menubar(["Home", "/"], "Meetings and Events", "Resources", "Chat", "Contact", "Jobs", "Getting Started with Ruby", :selected => { :class => 'current', :item => :a })

    = yield
    
    %footer#footer.sixteen.columns
      %h6 &copy; 2009-2011 ecruby.org.

